$text-color-main: #cacaca;

html {
  height: 100%;
  max-height: 100vh;
  background-color: #2f2f2f;
  box-sizing: border-box;
  color: $text-color-main;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.toggle-menu-button {
  position: relative;
  z-index: 20;
  float: right;
  margin: 0 2.5rem 0 0;
}

.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: left;

  li {
    margin: 1.5rem;
    a {
      color: $text-color-main;
      font-size: 8vw;
      padding: 2rem;
      margin: 2rem;
      list-style: none;
    }
  }
}

.back-arrow {
  margin: auto 0 auto 1.5em;

  a {
    color: #fff;
  }
}

.forward-arrow {
  margin: auto 1.5em auto 0;

  a {
    color: #fff;
  }
}

.profile-content {
  width: 100%;
  margin: 10%;
  color: #fff;
  text-shadow: 1px 1px 0 #0b8be7 inset;
  text-align: center;

  position: relative;
  z-index: 10;
  animation: profile ease-in 20s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(25%);

  .profile-image {
    animation: imageFadeIn ease-in 1s;
    opacity: 1;
    // background: white;
  }

  .profile-headline {
    font-size: 1.8em;
    line-height: 1.7em;
    font-weight: 700;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    opacity: 1;
    animation: headlineFadeIn ease-in 2s;
  }

  .profile-description {
    display: contents;
    justify-content: center;
    align-self: center;
    width: 700px;
    font-size: 1.15em;
    line-height: 1.125em;
    opacity: 1;
    animation: headlineFadeIn ease-in 2s;
  }
}

@keyframes imageFadeIn {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes headlineFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes descriptionFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
