$background-color: #2f2f2f;
$text-color-main: #cacaca;
$nav-color: #fff;

html {
  height: 100%;
  max-height: 100vh;
  background-color: $background-color;
  box-sizing: border-box;
  color: $text-color-main;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.toggle-menu-button {
  position: relative;
  z-index: 20;
  float: right;
  margin: 0 2.5rem 0 0;
}

.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: left;

  li {
    margin: 1.5rem;
    list-style: none;
    a {
      color: $nav-color;
      font-size: 8vw;
      padding: 2rem;
      margin: 2rem;
      list-style: none;
    }
  }
}

.left-nav-arrow {
  margin: auto 1.5em auto 0;
  left: 5px;
  position: absolute;
  top: 50%;

  a {
    color: $nav-color;
  }
}

.right-nav-arrow {
  right: 5px;
  position: absolute;
  top: 50%;

  a {
    color: $nav-color;
  }
}

.profile-content {
  width: 100%;
  margin: 10%;
  color: #fff;
  text-shadow: 1px 1px 0 #0b8be7 inset;
  text-align: center;

  position: relative;
  z-index: 10;
  animation: profile ease-in 20s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile-image {
    animation: imageFadeIn ease-in 1s;
    opacity: 1;
    // background: white;
  }

  .profile-headline {
    font-size: 1.8em;
    line-height: 1.7em;
    font-weight: 700;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    opacity: 1;
    animation: headlineFadeIn ease-in 2s;
  }

  .profile-description {
    display: contents;
    justify-content: center;
    align-self: center;
    width: 700px;
    font-size: 1.15em;
    line-height: 1.125em;
    opacity: 1;
    animation: headlineFadeIn ease-in 2s;
  }
}

@keyframes imageFadeIn {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes headlineFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes descriptionFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.portfolio-windows {
  width: 70%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text {
  font-size: 1.15em;
  line-height: 1.7em;
  color: #8a8a8a;
  text-align: left;
}

@keyframes contactFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contactForm {
  width: 80%;

  form {
    transform: translateX(10%);
  }

  .form-group {
    animation: contactFadeIn 1s;
  }
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

  .icon {
    position: absolute;
    margin: 0 0 0 2px;
    overflow: visible;
    z-index: 200;
    width: 20px;
    transform: translateY(5px);
  }

  .step {
    width: 80%;
    height: 100%;
    padding: 6px 14px 10px 33px;
    font-size: 18px;
    font-weight: 700;
    color: #797979;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #797979;
    outline: none;
    background-color: $background-color;
    line-height: 100%;
  }
}

.step-nav-buttons {
  .nav-step {
    background-color: #cacaca;
    color: $nav-color;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
  }
}

.social {
  text-align: left;

  h4 {
    font-size: 1.4em;
    line-height: 1.7em;
    color: #8a8a8a;
    font-weight: 700;
    font-weight: 700;
    margin: 16px 0 0 0;
  }

  p {
    font-size: 1.15em;
    line-height: 1.7em;
    color: #8a8a8a;
    margin: 0 0 16px 0;
  }
}

.aws-btn {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 2px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: 0.175s;
  --button-primary-color: #1e88e5;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-border: none;
}
